@import "fonts.css";

:root {
	/* light mode (default) */
	--loading-icon-background-image: url("../assets/logo-dark-512.png");
	--loader-background-color: #f5f5f5;
	--loading-bar-color: #636363;
}

html.dark-mode {
	/* dark mode */
	--loading-icon-background-image: url("../assets/logo-light-512.png");
	--loader-background-color: #2c2b30;
	--loading-bar-color: #ebebeb;
}

*,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-family: "Inter", Arial, Helvetica, sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
}

loadee {
	opacity: 0;
	z-index: 0;
}
