@import "default.css";
@import "loader.css";

body {
	background: white;
	overflow: hidden;
}

/* background */
img.background {
	height: 100vh;
	filter: brightness(60%);
}

/* header */

header {
	position: absolute;
}

/* footer */

footer {
	position: absolute;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	z-index: 10;
	bottom: 0;
}

footer ul {
	list-style: none;
	width: 25rem;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

footer ul li {
	margin: 6rem;
}

footer ul li a {
	color: white;
	text-decoration: none;
}

/* carousel */

div.carousel {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

div.carousel-cell {
	height: 100%;
	display: inline-flex;
	align-items: center;
	margin: 0;
	padding: 0 6rem;
}

div.carousel-cell a {
	font-size: 12rem;
	font-weight: 700;
	color: transparent;
	-webkit-text-stroke: 1px white;
	text-decoration: none;
	transform: translate3d(0, 0, 0);
	opacity: 1;
}

div.carousel-cell.is-selected a {
	color: white;
	-webkit-text-stroke: 0 white;
}
